/* windows */
#define wBAS  0
#define wDEV  1
#define wAXN  2
#define wFNK  3
#define wSTG  4

/* Helpers */
#define H_wCWR  F13
#define F_wBAS  LG(LS(F14))
#define F_wDEV  LG(LS(F15))
#define F_wAXN  LG(LS(F16))
#define F_wFNK  LG(LS(F17))
#define F_wSTG  LG(LS(F18))
