// tap: a
mp_mi_a: morph_macos_a {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp A>;
};

// tap: e
mp_mi_e: morph_macos_e {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp E>;
};

// tap: i
mp_mi_i: morph_macos_i {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp I>;
};

// tap: o
mp_mi_o: morph_macos_o {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp O>;
};

// tap: u
mp_mi_u: morph_macos_u {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp U>;
};

// tap: ; | shift: || | alt: |
mp_mi_ss: morph_macos_semicolon_shift {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp PIPE>, <&kp PIPE>;  // Shift → ||
};

mp_mi_s: morph_macos_semicolon {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LALT|MOD_RALT)>;
    bindings = <&kp SEMICOLON>, <&kp PIPE>;  // Alt → |
};

mp_mi_j: morph_macos_j {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp J>;
};

mp_mi_k: morph_macos_k {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp K>;
};

mp_mi_l: morph_macos_l {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp L>;
};