HR_HOLD(m, BAS, RS, &hm RSHFT J)  // RSHFT при удержании, J при тапе
HR_HOLD(m, BAS, RA, &hm LALT K)  // LALT при удержании, K при тапе
HR_HOLD(m, BAS, RC, &hm RCMD L)  // RCMD при удержании, L при тапе
HR_HOLD(m, BAS, RG, mp_mi_s)  //hm_mBAS_RG
